@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}

 @media screen and (min-width: 768px) {
   body {
     background-color: white;
   }
   .column {
     width: 220px;
     float: left;
     padding: 15px;
   }
 }

 .important {
   color: blue;
 }

 .box {
   border: 2px solid gray;
   padding: 12px;
   margin: 20px;
   text-align: center;
 }

.column {
  width: 350px;
  top: 100px;
  float: left;
}

.bgd p {
  color: blue;
}
.header {
  background-image:url("../assets/backgrounds/landing.jpg");
  text-align: center;
  color: white;
  padding-bottom: 200px;
  padding-top: 100px;
  background-repeat: no-repeat;
}

.breakfast{
  background-image:url("../assets/foodtop/breakfast.jpg");
  color: white;
  font-style: italic;
  padding-bottom: 150px;
  padding-left: 200px;
  padding-right: 100px;
  text-align: center;
}

.lunch{
  background-image:url("../assets/foodtop/lunch.jpg");
  color: white;
  font-style: italic;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.dinner{
  background-image:url("../assets/foodtop/dinner.jpg");
  color: white;
  font-style: italic;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
